@using Newtonsoft.Json;
@model ProjectTemplate.PresentationModel.ArticleDTO

@{
    ViewData["Title"] = "Articles";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@{
    var formData = @Html.Raw(JsonConvert.SerializeObject(Model.Articles.FirstOrDefault().Form_Data));
    var id_article = @Model.Articles.FirstOrDefault().Id;

}

@section HeaderContent
    {
    <link rel="stylesheet" type="text/css" href="~/css/article.css" />
    <link rel="stylesheet" href="https://cdn.form.io/formiojs/formio.form.min.css" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/ahb1scmmvpwca4zi20dek49m7401iz9kw8gvu6f9y258j1g6/tinymce/6/tinymce.min.js"
            referrerpolicy="origin"></script>
    @* Alternate Trial Key: ahb1scmmvpwca4zi20dek49m7401iz9kw8gvu6f9y258j1g6 *@

    <script src="https://cdn.form.io/formiojs/formio.form.min.js" crossorigin="anonymous"></script>

    @* for localezation of TinyMCE*@ 
    <script src="~/js/langs/fr_FR.js" > </script>

   
    
}

@section MainContent
    {

    <input type="hidden" id="id_article" value="@Model.Articles.FirstOrDefault().Id" />
    <input type="hidden" id="article_type" value="@Model.Articles.FirstOrDefault().Id_form" />
    <div id="parentdiv">
        <div id="tiny-ui" class="panel">
            <textarea id="comments-callback" style="width: 100%; height: 500px;">
                @Html.Raw(Model.Articles.FirstOrDefault().Content)
            </textarea>
        </div>

        <div class="panel">
            <!-- Tabs -->
            <div class="wrapper">
                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                        <label for="tab-1" class="tab-label">Fields</label>
                        <div class="tab-content">
                            <div id="formio"></div>
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                        <label for="tab-2" class="tab-label">Figures</label>
                        <div class="tab-content">
                            Figures content goes here
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                        <label for="tab-3" class="tab-label">References</label>
                        <div class="tab-content">
                            References content goes here
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
                        <label for="tab-4" class="tab-label">Metadata</label>
                        <div class="tab-content">
                            Metadata content goes here
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
                        <label for="tab-5" class="tab-label">Chat</label>
                        <div class="tab-content">
                            Chat content goes here
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tabs" id="tab-6" class="tab-switch">
                        <label for="tab-6" class="tab-label">Historic</label>
                        <div class="tab-content">
                            Historic content goes here
                        </div>
                    </div>

 
                </div>
            </div>
        </div>
    </div>


    <div id="actiondiv">
        <button id="btnDelete">Delete</button>
        <button id="btnCancel" onclick="cancel()">Cancel</button>
        <button type="button" id="submitButton">Save</button>
    </div>

    }

@section JSFooterContent {
    <script src="~/js/article.js"></script>
    <script>
         $(document).ready(function () {
            if (id_article == null) {
                window.location.href = "/article/articles/";
            }
             autoSaveArticleInterval(); // Initial call to autoSaveArticleCycle
             var i
            getArticleForm(@formData, @id_article, parseInt($("#article_type").val(), 10));
          });       

    </script>
}
